<%= stylesheet_link_tag "/apps.css" %>
<div class="app-back">
<h1> My Applications </h1>

<% @applications.each do |app| %>

<h3> TITLE: <%= app.presentationTitle %> </h3></li>
<h4> STATUS: <%= app.status %> </h4></li>


<% if current_user.type == "Supervisor" %>
	<a href="/applications/<%= app.application_id %>">Review Application</a>
<%end%>

<% end %>
</div>
<body class="apps"></body>