<%= stylesheet_link_tag "/apps.css" %>


<body class="apps">
	<section>
  <!--for demo wrap-->
  <h1>My Applications</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Application Title</th>
          <th>Application Status</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>

 <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
<% @applications.each do |app| %>
        <tr>
          <td><%= app.presentationTitle %></td>
          <td><%= app.status %></td>
          <td><% if current_user.type == "Supervisor" %>
		<%if app.status != "pending faculty evaluation"  %> 
			<%if app.status != "draft"  %>
				<a href="/applications/<%= app.application_id %>">Review Application</a>
			<% end %>
		<% end %>
	<%end%></td>
        </tr>

<% end %>

        </tr>
      </tbody>
    </table>
  </div>
</section>
</div>

</body>

<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>

