<%= stylesheet_link_tag "/apps.css" %>
<div class="app-back">
<h1> My Applications </h1>

<% @applications.each do |app| %>

<h3> TITLE: <%= app.presentationTitle %> </h3></li>
<h4> STATUS: <%= app.status %> </h4></li>

	<%= link_to_if current_user.type == "Supervisor" && (app.status != "approved" || app.status != "draft"), "Review Application", app %>
<% end %>
</div>
<body class="apps"></body>
