<!-- Email sent to requester when changes have been made to their application -->

<h1>Hi <%= @user.firstName %></h1>
<p>
  Modifications have been requested on your application. Review them and change it <%= link_to("here", @app) %>.
</p>
