<%= stylesheet_link_tag "/add.css" %>
<div>
<%= link_to 'Add Requester', new_user_path(:type=>"Requester") %>
<%= link_to 'Add Supervisor', new_user_path(:type=>"Supervisor") %>
</div>
<body class="add_user"></body>