
<!-- Add User page -->

<%= stylesheet_link_tag "/add.css" %>

<div class="contain">
<%= link_to 'Add Requester', new_user_path(:type=>"Requester"), :class=>"left" %>
<%= link_to 'Add Supervisor', new_user_path(:type=>"Supervisor"), :class=>"right" %>
</div>
<body class="add_user"></body>