<!-- Home page -->

<%= stylesheet_link_tag "/home.css" %>
<% if flash[:success] %>
	<div class="notice success"><%= flash[:success] %></div>
<% end %>
<% if flash[:notice] %>
  	  <div class="notice success"><%= flash[:notice] %></div>
  <% end %>

	<% if user_signed_in? %>
	<div class= "welcome">Welcome <%= current_user.firstName %>!</div>
		<% if current_user.type == "Staff" %>
			<a class="do-something fly-right" href="/addUser"> Add User to System</a>
		<%end%>
		<% if current_user.type == "Requester" %>
			<a class="do-something fly-right" href="/applications/new"> Create Application</a>
			<a class="do-something fly-left" href="/applications">View My Applications</a>
		<%end%>
		<% if current_user.type == "Supervisor" %>
			<a class="do-something fly-right" href="/applications">Make Reccomendation</a>
		<%end%>
	<%end%>

<body class="home"></body>