/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin:0px;
	font-family:Calibri;
	color: black;
}
.centered{
	margin:auto;
	width:350px;
	height:200px;
	text-align: center;
}
h2{
	font-size: 30px
}

a.sign{
	margin:5px;
	float:right;
	margin-top:0px;
	text-align: center;
	display:block;
	background-color: #ff9966;
	width:100px;
	text-decoration: none;
	color:#FFF;
	font-size: 20px;
	padding:3px;
	border: 2px solid #ff884d;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
}
a.sign:hover{
	background-color: #ff884d;
	color:#fff;
}
a.home-link{
	margin:5px;
	float:right;
	margin-top:0px;
	text-align: center;
	display:block;
	background-color: #ff9966;
	width:100px;
	text-decoration: none;
	color:#FFF;
	font-size: 20px;
	padding:3px;
	border: 2px solid #ff884d;
	border-radius: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
}
.notice{
	text-align: center;
	display:block;
	width:400px;
	text-decoration: none;
	color:#FFF;
	border-radius: 5px;
	margin:0 auto;
}
.success{
	background-color:#33cc33;
}
.error{
	background-color:#ff3300;
}



