body.apps{
	background-image: url("/assets/applications.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.app-back{
background-color: rgba(255,255,255,0.5);
width:50%;
height:500px;
margin-left: 50px;
}

.app-back h1, h2, h3{
	padding:10px;
}
