<!DOCTYPE html>
<html>
<head>
  <title>CTGS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <h2> WOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO CTGS </h2>
 SEG3102 Deliverable 3 
Conference Travel Grant System (CTGS)

<%= yield %>

</body>
</html>
