<!DOCTYPE html>
<html>
<head>
  <title>CTGS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="centered">
 	<h2>SEG3102 Deliverable 3 </h2>
	<h3>Conference Travel Grant System (CTGS)</h3>
</div>
<%= yield %>

</body>
</html>
